/* Text Colors */

#example-1{
    /* Named color */
    color: red;
}
#example-2{
    /* RGB */
    color: rgb(55, 155, 255);
}
#example-3{
    /* RGBa */
    color: rgba(255, 255, 100, 0.8);
}
#example-4{
    /* Hexadecimal notation */
    color: #00ff00;

}
#example-5{
    /* hsl */
    color: hsl(16, 88%, 54%);
}
#example-6{
    /* hsla */
    color: hsla(12, 100%, 20%, 0.5);
}

/* setting multiple colors in single paragraph can be done by using span tag in html */
p{
    color: blue;
}
.red-text{
    color: red;
}
/* text-decoration-line -> to add decorative line on text */

#example-7{
    text-decoration-line: underline;
}
#example-8{
    text-decoration-line: overline;
}
#example-9{
    text-decoration-line: line-through;
}

/* 
text-align -> this property is used for alignment of text in css
the values that can be for text-align are center, right, left and justify
left is the default value, the text will be aligned to left 
*/

#example-10{
    text-align: center;
}
#example-11{
    text-align: left;
}
#example-12{
    text-align: right;
}
#example-13{
    text-align: justify;
}

/* 
Text transformation is to make a text to uppercase or lowercase or to capitalize using CSS.
We have "text-transform" to achieve this in CSS.
The value for these property are lowercase, uppercase and capitalize
*/

#example-14{
    text-transform: uppercase;
}
#example-15{
    text-transform: lowercase;
}
#example-16{
    text-transform: capitalize;
}

/* 
Text spacing can be achieved by these properties:
letter-spacing
text-indent
line-height
word-spacing
white-spaces
*/

/* 
letter-spacing -> this property is used to specify the space between letters or characters in a text.
Default value is 0.
*/

.tight{
    letter-spacing: -3px;
}
.normal{
    letter-spacing: 0;
}
.medium{
    letter-spacing: 3px;
}
.loose{
    letter-spacing: 6px;
}

/* 
text-indent -> this property is used to give indentation to the text
*/
#text-indent{
    text-indent: 60px;
}

/* 
line-height -> this property is used to give space between lines
*/
#line-height{
    line-height: 2.5;
}

/* 
word-spacing -> this property is used to give space between words in a text.
*/
#word-spacing{
    word-spacing: 20px;
}

/* 
white-space -> this property is used to specify how content in an element should be displayed. It is used to handle white spaces inside an element.

There are some property values that are used with CSS white-space property that oyu should know.

normal: This is default value. In this, the text is wrapped when necessary, and the sequences of white space will collapse into a single whitespace.

nowrap: Sequences of white spaces will collapsse into a single whitespace. In this value, the text will never wrap to the next line and only break when the <br> tag is used

pre: Whitespace is preserved by the browser. It acts like an html <pre> tag. The text will only wrap on line breaks.
 
*/
.normal{
    white-space: normal;
}
.nowrap{
    white-space: nowrap;
}
.pre{
    white-space: pre;
}

/* 
text-shadow -> this property is used to add shadow to text.
Each shadow is described by some combination of X-offsets & Y offsets from the text, blur radius, and color.

text-shadow: offset-x | offset-y | blur-radius | color

*/

h1{
    text-shadow: 2px 2px 2px red
}











