

button {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f7f7f7;
    font-size: 1.5em;
    outline: none;
}

.key-function {
    background-color: #e8e6e3;

}

.key-operator {
    background-color: #fe9241;
    color: #fff;
}

.key-equal {
    background-color: #0a89ff;
}

.calculator-display {
    width: 300px;
    color: #fff;
    background-color: #252525;
    padding: 20px;
    font-size: 2em;
    border-bottom: 1px solid #2c2c2c;
    text-align: right;
}





